// グローバルな変数を定義します

// viewport sizes
$sp: 480px;
$tablet: 768px;
$pc: 1024px;

// font colors
$white: #FFFFFF;
$black: #000000;
$light-black: #333333;
$light-gray: #dadce0;
$light-blue: rgb(96, 165, 250);
$blue: rgb(37, 99, 235);
$green: rgb(187, 247, 208);
$red: rgb(243, 113, 113);
